@{
    ViewBag.Title = "Submission";
    Layout = "_Layout";
}


<form>
    <fieldset>
        <legend>Employee Recognition Program</legend>
        Recipient: <input type="text"><br>
        Reasons: <input type="text"/><br>

        Department: <select name="department">
            <option>Human Resources</option>
            <option>Engineering</option>
            <option>Sales</option>
        </select>
        

    </fieldset>
</form>