@{
    ViewBag.Title = "Submission";
    Layout = "_Layout";
}


<form>
    <fieldset>
        <legend>Employee Recognition Program</legend>
        Awarded To: <input type="text"><br>
        Reasons: <input type="checkbox"/>

        Department: <select name="department">
            <option>IT</option>
            <option></option>
            <option></option>
            <option></option>
        </select>
        
    </fieldset>
</form>